h1{text-align: center; background: purple; color: #fff;}
h2{text-align: center; background: red; color: rgb(255, 255, 255); font-size: 12px;}
h1, h2{padding: 5px;}
a{background: black; color: #fff; height: 100vh;}
.img, .link{text-align: center;}