@import url(./common.css);
h1{background: purple;}
h2{background: red; font-size: 12px; margin-bottom: 20px;}
h1, h2{text-align: center; padding: 5px; color: #fff;}
a{background: black; color: #fff;}
.img, .link{text-align: center;}
li{margin-bottom: 5px;}
hr{margin: 20px 0;}