/* 공통 설정 */
.container{width: 1410px; height: inherit; margin: 0 auto; padding: 0 15px;}
.align_items_center{ align-items: center !important;}
li{list-style: none}
a{text-decoration: none;}

/* Layout */
body{font-family: 'Noto Sans KR', sans-serif;}
#wrap{width: 100%;}
/* header */
#header{width: 100%; height: 140px; position: relative;}
/* main */
.main_visual_wrap{width: 100%; height: calc(100vh - 310px);}
.kinfa_product_wrap{width: 100%; height: 133px; padding: 32px 0; background: #f5f5f5;}
.kinfa_contents_wrap{width: 100%; height: 1280px; margin-top: 64px;}
.kinfa_sns_wrap{width: 100%; height:1018px; margin-top: 48px; background: rgb(185, 255, 185);}
.kinfa_link_wrap{width: 100%; height: 345px; padding: 64px; background: rgb(194, 194, 255); box-sizing: border-box;}
/* footer */
.menus{width: 100%; height: 55px; border-bottom: 2px solid black; background: rgb(149, 142, 190);}
.footer{width: 100%; height: 152px; padding: 16px 0; background: rgb(107, 80, 107);}


/* header */
/* header-top */
.header-top{width: 100%; height: 78px; border-bottom: 1px solid #d9d9d9; }
.header-top>.container>.align_items_center>.logo>a>img{width: 196px; height: 49px; position: absolute; top: 15px;}
.header_top_right{float: right;}
.header_top_right>li{float: left;}
.header_top_right>.eng_center{display: block; position: relative; top: 20px; right: 5px;}
.header_top_right>li>a{float: left;}
.header_top_right>li>.eng{display: block; width: 32px; height: 24px; padding: 8px 12px; font-size: 1.2em;}
.header_top_right>li>.btn_yellow{display: block; width: 59px; height: 28px; font-size: 1.2em; background: #fee000 url(../img/icon/icon-key.png) no-repeat 0.5rem center; padding: 6px 12px 6px 40px; border-radius: 10px;}

.all_menu{width: 90px; height: 78px; margin-left: 1em; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; justify-content: center;}
.all_menu>.allmenu_btn{display: block; padding-left: 3px;}
.all_menu>.allmenu_btn>#allMenuCheck{opacity: 0;}
.all_menu>.allmenu_btn>.allmenu_icon{padding: 0px 30px}
.all_menu>.allmenu_btn>.allmenu_icon>span{display: block; width: 25px; height: 1px; margin: 5px 0; background: #333; border-radius: 5px; text-align: center;}
.all_menu>.allmenu_btn>p{text-align: center;}

/* header-bottom */
#gnb{width: 100%; height: 60px; border-bottom: 1px solid #d9d9d9; position: relative; top: 0px; left: 0;}
#nav>.bg{width: 100%; height: 0px; background: rgb(255, 255, 255); position: absolute; top: 60px; left: 0; float: left; z-index: 9;}
#nav .menu>ul>li{display: block; float: left; width: 14.2%; height: 60px; line-height: 60px; text-align: center; position: relative;}
#nav .menu>ul>li:hover>a{color: #00244b;}
#nav .menu>ul>li>a{display: block; width: 100%; height: 100%; font-size: 1.2rem; font-weight: 500;}
#nav .menu>ul>li>ul{width: 100%; display: none; border-right: 1px solid #d9d9d9; padding-top: 30px; z-index: 999; position: absolute;}
#nav .menu>ul>li:hover>ul{background: rgba(210, 228, 255, 0.311); padding-bottom: 10px; z-index: 999;}
#nav .menu>ul:hover>li>ul{display: block; min-height: 540px; height: auto;}
#nav .menu>ul>li>ul>li{text-align: left; padding: 0.4rem 1.5rem; line-height: 1.3rem;}
#nav .menu>ul>li>ul>li>a{display: block; width: 100%; height: 100%; font-size: 1.1rem; text-align: left; line-height: 1.7rem; padding: .2rem 0; color: #5c5c5c;}
#nav .menu>ul>li>ul>li:hover>a{color: #00244b;}

#nav .menu>ul>li>ul>li>ul{display: none; position:relative;}
#nav .menu>ul>li>ul>li.active>ul{display: block;}
#nav .menu>ul>li>ul>li.dep2:hover>ul{border-top: 1px solid black;}
#nav .menu>ul>li>ul>li>ul>li>a{display: block; width: 100%; height: 100%; font-size: 1rem; text-align: left; line-height: 1.6rem; padding: .2rem 0; color: #5c5c5c;}

/* 메인 배너 */
.main_visual_wrap{position: relative; width: 100%; overflow: hidden;}
.main_visual{}
.main_visual_wrap .main_visual .slick_track .slick_slide .visual_background img{transform: scale(1.3); z-index: -1;}
.main_visual_wrap .main_visual .slick_track .slick_slide .visual_text_box .container .visual_text{text-shadow: 0 0 20px #333; font-size: 4.3rem; line-height: 5.3rem; font-weight: 700; color: white; position: absolute; bottom: 30px; }

.main_visual_wrap .main_visual_prev{width: 151px; height: 151px; position: absolute; background: url(../img/icon/arrow-big-prev.png) no-repeat;  top: 165px; left: 0; z-index: 9;}
.main_visual_wrap .main_visual_next{width: 151px; height: 151px; position: absolute; background: url(../img/icon/arrow-big-next.png) no-repeat;  top: 165px; right: 0; z-index: 3;}
.slick-dots{position: relative; bottom: 80px; right:600px;}
.slick-dots li{margin: 0 10px;}
.slick-dots li button::before{font-size: 25px;}
.slick-dots li button:hover{color: red;}
.slick-dots li.slick-active button:before{font-size: 20px; color: white; opacity: .75; overflow: hidden;}

/* kinfa_product_wrap */
.kinfa_product .kinfa_product_left{float: left;}
.kinfa_product .kinfa_product_left .left_tit{width: 330px; margin-bottom: 16px;}
.kinfa_product .kinfa_product_left .left_tit .left_tit_icon{float: left; margin-right: 8px;}
.kinfa_product .kinfa_product_left .left_tit .left_tit_icon img{width: 35px; height: 34px;}
.kinfa_product .kinfa_product_left .left_tit .left_title{font-size: 2.2rem; font-weight: 700; color: #001a57;}
.kinfa_product .kinfa_product_left .left_text{color: #666; font-size: 1.4rem; line-height: 2rem; float: left;}

.kinfa_product .kinfa_product_left .fade_arrow{float: left; position: relative; bottom: 15px; left: 130px;}
.kinfa_product .kinfa_product_left .fade_arrow span{float: left; font-size: 40px;}
.kinfa_product .kinfa_product_left .fade_arrow span:nth-child(1){
    animation: fadein1 1s infinite;}
.kinfa_product .kinfa_product_left .fade_arrow span:nth-child(2){
    animation: fadein2 1s infinite;}
.kinfa_product .kinfa_product_left .fade_arrow span:nth-child(3){
    animation: fadein3 1s infinite;}
.kinfa_product .kinfa_product_left .fade_arrow span:nth-child(4){
    animation: fadein4 1s infinite;}

    @keyframes fadein1 {
        0%{opacity: 1;}
        33%{opacity: .5;}
        66%{opacity: 0;}
        100%{opacity: 0.5;}
    }
    @keyframes fadein2 {
        0%{opacity: 0.5;}
        33%{opacity: 1;}
        66%{opacity: .5;}
        100%{opacity: 0;}
    }
    @keyframes fadein3 {
        0%{opacity: 0;}
        33%{opacity: 0.5;}
        66%{opacity: 1;}
        100%{opacity: 0.5;}
    }
    @keyframes fadein4 {
        0%{opacity: 0.5;}
        33%{opacity: 0;}
        66%{opacity: 0.5;}
        100%{opacity: 1;}
    }

.kinfa_product .kinfa_product_right{float: right; width: 58.333%;}
.kinfa_product .kinfa_product_right ul{text-align: center; } 
.kinfa_product .kinfa_product_right ul li{float: left; width: 23%; height: 117px; margin: 8px;}
.kinfa_product .kinfa_product_right ul li:nth-child(1){background: #35ACE5;}
.kinfa_product .kinfa_product_right ul li:nth-child(2){background: #45A336;}
.kinfa_product .kinfa_product_right ul li:nth-child(3){background: #CF003F;}
.kinfa_product .kinfa_product_right ul li:nth-child(4){background: #EC7395;}
.kinfa_product .kinfa_product_right ul li a{display: block; width: 100%; height: 100%; color: #fff; line-height: 117px; font-size: 1.4rem; font-weight: 500;}

/* kinfa_contents_wrap */
/* left */
/* new, notice */
.new_wrap_title, .notice_wrap_title{display: flex; align-items: center; justify-content: space-between;}
.new_wrap_title h2, .notice_wrap_title h2{width: calc(100% - 70px); font-size: 1.7rem; font-weight: 700; position: relative;}
.new_wrap_title h2::after, .notice_wrap_title h2::after{content: ""; display: block; width: 100%; height: 1px; background-color: #939393; top: calc(50% - 2px); position: absolute;}
.new_wrap_title h2 span, .notice_wrap_title h2 span{position: relative; padding-right: 1rem; display: inline-block; background: #fff; z-index: 9;}
.new_wrap_title a, .notice_wrap_title a{background: url(../img/icon/more-btn.png) no-repeat center; width: 50px; height: 50px; overflow: hidden; color: #939393; border: 1px solid #939393; display: block; background-size: 25px; font-size: 1.5rem; position: relative; right: 0; border-radius: 15px;}

/* new */
.kinfa_contents_wrap{margin-top: 4rem;}
.kinfa_left_right_bottom{display: flex; flex-wrap: wrap; box-sizing: border-box;}
.kinfa_contents_left{ flex: 0 0 40%; max-width: 48%;}
.kinfa_contents_left .new_wrap ul{display: flex; flex-wrap: wrap;}
.kinfa_contents_left .new_wrap ul>li{flex: 0 0 50%; max-width: 50%; box-sizing: border-box;}
.kinfa_contents_left .new_wrap ul>li:nth-child(1){padding-right: 15px;}
.kinfa_contents_left .new_wrap ul>li:nth-child(2){padding-left: 15px;}
.kinfa_contents_left .new_wrap ul>li>div>a .new_thum{margin-top: 0.5rem; position: relative; overflow: hidden; width: 100%;}
.kinfa_contents_left .new_wrap ul>li>div>a .new_text .new_tit{width: 100%; height: 6rem; font-size: 1.3rem; line-height: 1.8rem; font-weight: 700; margin: 0.5rem 0 1rem 0;}
.kinfa_contents_left .new_wrap ul>li>div>a .new_text .new_date{font-size: 1.2rem; color: #999;}

/* notice */
.notice_wrap{margin-top: 5rem;}
.first_list{position: relative; padding: 1rem 0; border-bottom: 1px dashed #939393; }
.first_list_flex{display: flex;}
.first_list_date{margin-right: 0.5rem; width: 70px; height: 70px; text-align: center; background: #eaeaea; align-items: center; justify-content: center; display: flex;}
.first_list_date>div>.first_list_day{font-size: 1.5rem; font-weight: 500; margin-bottom: 0.3rem;}
.first_list_date>div>.first_list_month{font-size: 0.9rem;}
.first_list_tit{position: relative; width: calc(100% - 70px - 0.5rem); height: 70px;}
.first_list_tit>a>dl{width: 100%;}
.first_list_tit>a>dl>dt{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; height: 1.8rem; font-size: 1.3rem; margin-bottom: 0.5rem; font-weight: 500;}
.first_list_tit>a>dl>dd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; height: 1.5rem; font-size: 1.2rem; color: #999;}
.notice_wrap>ul{margin: 1rem 0;}
.notice_wrap>ul>li{padding: 1rem 0; display: flex;}
.notice_wrap>ul>li>.notice_title_width{flex: 0 0 75%; max-width: 75%;}
.notice_wrap>ul>li>.notice_title_width .notice_tit{position: relative; padding-left: 0.7rem; font-weight: 500; font-size: 1.2rem; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice_tit::after{content: ""; position: absolute; width: 5px; height: 5px; background: #333; top: 0.5rem; left: 0;}
.notice_wrap>ul>li>.notice_date_width{flex: 0 0 25%; max-width: 25%;}
.notice_wrap>ul>li>.notice_date_width .notice_date{font-size: 1.2rem; text-align: right; color: #999;}

/* right */
/* app_qr */
.kinfa_contents_right{flex: 0 0 50%; max-width: 49%; padding-left: 30px;}
.product_banner_wrap{overflow: hidden; background: #496ed3; padding: 1rem 2rem; position: relative; display: flex;}
.product_banner_wrap::after{position: absolute; z-index: 0; content: ""; display: block; width: 100%; height: 50px; background: #edf2f8; bottom: 0; left: 0;}
.app_qr{flex: 0 0 100%; max-width: 100%; display: flex;}
.app_qr .app_width{align-items: center; display: flex; flex-wrap: wrap; margin: 0 -15px; flex: 0 0 58.3333%; max-width: 58.3333%;}
.app_qr .app_width .app_text{padding: 0 15px;}
.app_qr .app_width .sub_text{font-size: 1.9rem; color: #fef275; font-weight: 700;}
.app_qr .app_width .point{padding-top: 10px;}
.app_qr .app_width .point span{font-size: 1.6rem; color: #fff; font-weight: 700;}
.app_list{flex: 0 0 100%; max-width: 100%; padding: 0 15px; z-index: 1; position: relative; bottom: 18px;}
.app_qr .app_width ul{margin-top: 1.5rem; display: flex;}
.app_qr .app_width ul>li+li{margin-left: 0.5rem;}
.app_qr .app_width ul>li>img{max-width: 120px; width: 100px; vertical-align: top;}
.app_qr .qr_width{flex: 0 0 41.66666%; max-width: 41.66666%; padding: 0 0 0 15px; align-items: flex-end; position: relative; left: 15px;}
.app_qr .qr_width>div{position: relative; z-index: 1; text-align: right;}
.app_qr .qr_width>div>img{width: 220px; max-width: 100%; max-height: 180px; vertical-align: top;}

/* quick */
.quick_ul{margin-top: 1rem !important; display: flex; flex-wrap: wrap; margin: 0 -5px;}
.quick_ul li{padding: 0 5px; flex: 0 0 33.333333%; max-width: 33.333333%; box-sizing: border-box; display: list-item;}
.quick_ul li .quick_box{background: #f3f1fd; text-align: center; padding: 1rem; height: 157.2px;}
.quick_ul>li>.quick_box>a{color: #333; background-color: transparent;}
.quick_ul>li>.quick_box>a>.row{display: flex; flex-wrap: wrap; margin: 0 -15px;}
.quick_ul>li>.quick_box>a>.row>div{flex: 0 0 100%; max-width: 100%; padding: 0 15px; box-sizing: border-box;}
.quick_ul>li>.quick_box>a>.row>div>.img_box{display: flex; align-items: center; justify-content: center; background: #fff; border-radius: 0.5rem; height: 110px;}
.quick_ul>li>.quick_box>a>.row>div>.img_box>img{max-width: 80%; max-height: 60px; vertical-align: top;}
.quick_ul>li>.quick_box>a>.row>.quick_text_box{display: flex; justify-content: center; align-items: center; flex: 0 0 100%; max-width: 100%; padding: 0 15px;}
.quick_ul>li>.quick_box>a>.row>div>.quick_text{font-size: 1.3rem; font-weight: 500; padding: 0.5rem 0; box-sizing: border-box;}

/* popup */
.popup_wrap{position: relative;}
.popup_slide_wrap{position: relative; margin-top: 3rem; width: 100%; height: 400px; overflow: hidden}
.popup_slide_wrap::after{content: ""; position: absolute; width: 100%; height: 3rem; background: #333; opacity: .3; display: block; z-index: 9999; bottom: 0;}
.popup_slide_wrap button{z-index: 999999; position: absolute; bottom: 0; line-height: 9999px; width: 3rem; height: 3rem; border:transparent; border-radius: 0.3rem; cursor: pointer;}
.popup_slide_wrap .popup_slick_prev{background: url(../img/icon/arrow-prev.png) no-repeat center; background-size: 25px; left: calc(50% - 70px);}
.popup_slide_wrap .popup_slick_btn{width: 2rem; height: 2rem; left: calc(50% - 16px); border: 1px solid #fff; border-radius: 5rem; position: absolute; bottom: 9px; background: url(../img/icon/icon-pause-w.png) no-repeat center center; background-size: 30px;}
.popup_slide_wrap .popup_slick_play{background: url(../img/icon/icon-pause-w.png) no-repeat center center; background-size: 30px;}
.popup_slide_wrap .popup_slick_pause{background: url(../img/icon/play.png) no-repeat center center; background-size: 10px;}
.popup_slide_wrap .popup_slick_next{background: url(../img/icon/arrow-next.png) no-repeat center; background-size: 25px; right: calc(50% - 70px); }
.popup_slick_list .popup_slick_track .popup_slide_box{width: 690px; height: 400px; display: block;}
.popup_slick_list .popup_slick_track .popup_slide_box a img{width: 100%; height: 100%;}

 /* 서금원 소식 */
 .kinfa_contents_bottom{flex: 0 0 100%; max-width: 100%; margin-top: 3rem; height: 270px; position: relative;}
 .banner_wrap{padding: 1.5rem 2.5rem; background: #f2F5F9;}
 .kinfa_contents_banner{display: flex; flex-wrap: wrap; margin: 0 -15px;}
 .kinfa_contents_banner_text_btn{flex: 0 0 25%; max-width: 25%;}
 .kinfa_contents_banner_text{margin-top: 1.5rem; font-size: 1.5rem; line-height: 2rem; color: #777;}
 .kinfa_contents_banner_text span{font-size: 2rem; color: #3351a7; font-weight: 700;}
 .kinfa_contents_banner_text_btn .kinfa_contents_banner_btn{position: absolute; bottom: 40px; display: flex; gap: 0.5rem;}
 .kinfa_contents_banner_text_btn .kinfa_contents_banner_btn li button{overflow: hidden; line-height: 9999px; width: 3rem; height: 3rem; border: transparent; border-radius: 3rem; cursor: pointer;}
 .kinfa_contents_banner_slick_prev{background: #c2c2c2 url(../img/icon/arrow-prev.png) no-repeat center; background-size: 25px;}
 .kinfa_contents_banner_slick_btn{background: #c2c2c2 url(../img/icon/stop.png) no-repeat center; background-size: 10px;}
 .kinfa_contents_banner_slick_play{background: #c2c2c2 url(../img/icon/play.png) no-repeat center; background-size: 10px;}
 .kinfa_contents_banner_slick_pause{background: #c2c2c2 url(../img/icon/stop.png) no-repeat center; background-size: 10px;}
 .kinfa_contents_banner_slick_next{background: #c2c2c2 url(../img/icon/arrow-next.png) no-repeat center; background-size: 25px;}

 .kinfa_contents_banner_slide{flex: 0 0 75%; max-width: 75%;}
 .banner_slide_wrap{}
 .banner_slide_list{}
 .banner_slide_track{}
 .banner_slide_box{}
 .banner_slide_box a{}
 .banner_slide_box a .img_wrap{}