html{font-size: 10px;}
body{font-family: Arial, Helvetica, sans-serif;}
.inner{width: 116rem; height: inherit; margin: 0 auto; background: rgba(255, 255, 255, 0.3);}

#header{width: 100%; height: 8rem; background: rgb(255, 255, 255, 0.3);}
#bannerMain{width: 100%; height: 61.1rem;}
#template{width: 100%; height: auto;}
#banner{width: 100%; height: auto; background: #f6f6f6; padding: 6rem 0;}




/* desktop */
.desktop{display: flex; justify-content: space-between; align-items: center; height: 8rem;}
.nav ul{display: flex;}
.nav ul li a{display: block; color: #333; font-size: 1.8rem; font-weight: bold; padding: 1rem 1.2rem;}
.gnb{display: flex;}
.gnb ul{display: flex; align-items: center;}
.gnb>ul>li{margin-left: 1rem;}
.gnb>.sns li{margin-left: 1rem;}
.gnb>.sns li a{display: block; padding: 1rem 0;}

/* banner */
.banner-title .inner{display: flex; justify-content: space-between; padding: 2rem 0;}
.b-title-left{flex: 0 1 65%; height: auto; border-right: 1px solid #ddd; box-sizing: border-box;}
.b-title-left h2{font-size: 3.2rem; color: #1e1e1e; font-weight: bold; }
.b-title-left h2 .text-icon img{position: relative; top: 7px; left: 5px;}
.b-title-left p.text-bold{font-size: 6.4rem;}
.b-title-left p.text-bold span.colorY{color: #f9c200; }

.b-title-right{flex: 0 1 35%; height: auto; padding: 2rem; box-sizing: border-box;}
.b-title-right h3{color: #454545; font-size: 17px; margin-bottom: 0.5rem;}
.news-wraps{position: relative; height: 90px; width: 100%; overflow: hidden;}
.news-wrap{position: absolute; top: 100%;}
.news-wrap:nth-child(1){top: 0;}
.news-wrap p .text{font-size: 17px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%;}
.news-wrap p .data{font-size: 15px;}

/* banner-main-area */
.banner-main-area{background: #fcce01 url(../img/mango_player3.png) no-repeat center center; position: relative;}
.playBtn{ position: absolute; top: 50%; left: 50%; margin-top: -57px; margin-left: -57px; animation: ani 1s infinite alternate;}

@keyframes ani {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}


/* template-area */
.template-area{padding: 6rem 0 7.2rem 0; box-sizing: border-box; background: yellowgreen;}
.template-area h2{text-align: center; font-size: 4rem; color: #121212; font-weight: bold;}
.template-area p{text-align: center; color: #777; font-size: 1.8rem; margin-top: 2.7rem;}
.template-line-wrap{margin-top: 8rem;}
.title{display: flex; justify-content: space-around;}
.title>li{position: relative; width: 100%; text-align: center; letter-spacing: -1px;}
.title>li:nth-child(2n){top: 7rem;}
.title li.on .template-text{display: block;}
.title li a{display: block; font-size: 1rem;}
.title li .template-text{display: none; top: -3.5rem; position: absolute; width: 300px; background: #ccc; padding: 0.5rem 0; border-radius: 5px;}
.title>li:nth-child(2n) .template-text{top: 3rem;}
.title>li:nth-child(13) .template-text{right: -17rem;}
.title>li:nth-child(14) .template-text{right: -9rem;}
.title>li:nth-child(15) .template-text{right: 0;}
.btn{display: flex; justify-content: space-around; position: relative; margin-top: 2rem;}
.btn li{width: 14px; height: 14px; border-radius: 50%; border: 1px solid #757575;}
.btn li.on{background: #757575;}


/* banner-area */
.banner-area .inner{position: relative;}
.banner-left-btn{position: absolute; top: 50%; transform: translateY(-50%); left: -70px; transition: all 0.3s;}
.banner-right-btn{position: absolute; top: 50%; transform: translateY(-50%); right: -70px; transition: all 0.3s;}
.banner-area{width: 1160px; overflow: hidden;}
.banner-area>ul{display: flex; width: 2350px; position: relative; left: 0;}
.banner-area>ul>li{width: 22rem; margin-right: 15px;}
.banner-area>ul>li>a>img{width: 100%; display: block;}






































/* mobile */
.mobile{display: none;}
.mobile>ul{display: flex; justify-content: space-around; align-items: center; height: 6rem; }

.mobile>ul>li:first-child{width: 2.6rem; height: 1.6rem;}
.mobile>ul>li:first-child .mobile-nav{position: absolute; top: 60px; left: 0; width: 100%; background: rgba(0, 0, 0, 0.8); z-index: 9999; display: none;}
.mobile>ul>li:first-child .mobile-nav>li{width: 100%; height: 7rem; border-bottom: 1px solid #ddd; line-height: 7rem; text-align: center;}
.mobile>ul>li:first-child .mobile-nav>li>a{color: #fff;}

.mobile>ul>li>a{display: block; width: 100%; height: 100%; position: relative;}
.mobile>ul>li>a>.bar{width: 100%; height: .2rem; background: #555; display: block; position: absolute; top: 0; left: 0; transition: 0.3s;}
.mobile>ul>li>a>.bar1{top: 0;}
.mobile>ul>li>a>.bar1.add-app-btn{top: 50%; margin-top: -1px; transform: rotate(45deg);}
.mobile>ul>li>a>.bar2{top: 50%;}
.mobile>ul>li>a>.bar2.add-app-btn{opacity: 0;}
.mobile>ul>li>a>.bar3{top: 100%;}
.mobile>ul>li>a>.bar3.add-app-btn{top: 50%; margin-top: -1px; transform: rotate(-45deg);}


@media screen and (max-width: 1320px) {
    .banner-left-btn{left: 10px; z-index: 999;}
    .banner-right-btn{right: 10px; z-index: 999;}
}

@media screen and (max-width: 1200px) {
    .inner{width: 100%; padding: 0 2rem; box-sizing: border-box;}
    .banner-title .inner{padding: 2rem;}
    .b-title-left p.text-bold{font-size: 5.5rem;}
    .template-line-wrap{display: none;}
    .banner-area{width: 100%; overflow: hidden;}
    /* .banner-area>ul>li{width: 20rem;} */
}

@media screen and (max-width: 1050px) {
    .gnb>.sns{display: none;}
    .b-title-left h2{font-size: 2.8rem;}
    .b-title-left p.text-bold{font-size: 4.8rem;}
}

@media screen and (max-width: 920px) {
    .gnb{position: absolute; right: 3.2rem; top: 0.8rem;}
    .nav ul{position: relative; top: 1rem;}
    .banner-title .inner{flex-wrap: wrap;}
    .b-title-left{flex: 0 1 100%; height: auto; border-right: none; padding: 0 2rem 3rem 2rem; text-align: center;}
    .b-title-right{flex: 0 1 100%; height: 20rem; background: skyblue;}

    #bannerMain{height: 50rem;}
    .banner-main-area{background-size: 80%;}

    .template-area h2{font-size: 3rem;}
}

@media screen and (max-width: 720px) {
    #header{height: 6rem; background: #f6e3b6;}
    .desktop{display: none;}
    .mobile{display: block;}
    #bannerMain{height: 40rem;}
    .banner-main-area{background-size: 90%;}
}