html{font-size: 10px;}
body{font-family: Arial, Helvetica, sans-serif;}
.inner{width: 116rem; height: inherit; margin: 0 auto; /* background: rgba(255, 255, 255, 0.3); */}

#header{width: 100%; height: 8rem; background: rgb(255, 255, 255, 0.3);}
#bannerMain{width: 100%; height: 61.1rem;}
#template{width: 100%; height: auto;}
#banner{width: 100%; height: auto; background: #f6f6f6; padding: 6rem 0;}
#textBox{width: 100%; height: auto;}
#bxBanner{width: 100%; height: 70rem; background: #555; position: relative;}
#dynamic{width: 100%; height: auto; background: #fcce01;}
#movie{width: 100%; height: 70rem; background: #8c816e;}
#muser{width: 100%; padding: 60px 0;}
#Reference{width: 100%; padding: 6rem 0; background: #f7f7f7;}
#etc{width: 100%; height: 16.3rem; background: #1e1e1e;}
#footer{width: 100%; height: auto; padding: 3.4rem 0;}


/* desktop */
.desktop{display: flex; justify-content: space-between; align-items: center; height: 8rem;}
.nav ul{display: flex;}
.nav ul li a{display: block; color: #333; font-size: 1.8rem; font-weight: bold; padding: 1rem 1.2rem;}
.gnb{display: flex;}
.gnb ul{display: flex; align-items: center;}
.gnb>ul>li{margin-left: 1rem;}
.gnb>.sns li{margin-left: 1rem;}
.gnb>.sns li a{display: block; padding: 1rem 0;}

/* banner */
.banner-title .inner{display: flex; justify-content: space-between; padding: 2rem 0;}
.b-title-left{flex: 0 1 65%; height: auto; border-right: 1px solid #ddd; box-sizing: border-box;}
.b-title-left h2{font-size: 3.2rem; color: #1e1e1e; font-weight: bold; }
.b-title-left h2 .text-icon img{position: relative; top: 7px; left: 5px;}
.b-title-left p.text-bold{font-size: 6.4rem;}
.b-title-left p.text-bold span.colorY{color: #f9c200; }

.b-title-right{flex: 0 1 35%; height: auto; padding: 2rem; box-sizing: border-box;}
.b-title-right h3{color: #454545; font-size: 17px; margin-bottom: 0.5rem;}
.news-wraps{position: relative; height: 90px; width: 100%; overflow: hidden;}
.news-wrap{position: absolute; top: 100%;}
.news-wrap:nth-child(1){top: 0;}
.news-wrap p .text{font-size: 17px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%;}
.news-wrap p .data{font-size: 15px;}

/* banner-main-area */
.banner-main-area{background: #fcce01 url(../img/mango_player3.png) no-repeat center center; position: relative;}
.playBtn{ position: absolute; top: 50%; left: 50%; margin-top: -57px; margin-left: -57px; animation: ani 1s infinite alternate;}

@keyframes ani {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}


/* template-area */
.template-area{padding: 6rem 0 7.2rem 0; box-sizing: border-box; background: yellowgreen;}
.template-area h2{text-align: center; font-size: 4rem; color: #121212; font-weight: bold;}
.template-area p{text-align: center; color: #777; font-size: 1.8rem; margin-top: 2.7rem;}
.template-line-wrap{margin-top: 8rem;}
.title{display: flex; justify-content: space-around;}
.title>li{position: relative; width: 100%; text-align: center; letter-spacing: -1px;}
.title>li:nth-child(2n){top: 7rem;}
.title li.on .template-text{display: block;}
.title li a{display: block; font-size: 1rem;}
.title li .template-text{display: none; top: -3.5rem; position: absolute; width: 300px; background: #ccc; padding: 0.5rem 0; border-radius: 5px;}
.title>li:nth-child(2n) .template-text{top: 3rem;}
.title>li:nth-child(13) .template-text{right: -17rem;}
.title>li:nth-child(14) .template-text{right: -9rem;}
.title>li:nth-child(15) .template-text{right: 0;}
.btn{display: flex; justify-content: space-around; position: relative; margin-top: 2rem;}
.btn li{width: 14px; height: 14px; border-radius: 50%; border: 1px solid #757575;}
.btn li.on{background: #757575;}


/* banner-area */
.banner-area-wrap .inner{position: relative;}
.banner-left-btn{position: absolute; top: 50%; transform: translateY(-50%); left: -60px; transition: all 0.3s;}
.banner-right-btn{position: absolute; top: 50%; transform: translateY(-50%); right: -60px; transition: all 0.3s;}
.banner-area{width: 1160px; overflow: hidden;}
.banner-area>ul{display: flex; width: 2350px; position: relative; left: 0;}
.banner-area>ul>li{width: 22rem; margin-right: 15px;}
.banner-area>ul>li>a>img{width: 100%; display: block;}


/* text-box-area */
.text-box-area{padding: 6rem 0; background: #fff;}
.text-box-area h2{text-align: center; font-size: 4rem; color: #1e1e1e; margin-bottom: 3rem; font-weight: 700;}
.text-box-area p{text-align: center; font-size: 1.8rem; color: #777; font-weight: 500;}


/* bx-banner-area */
.bx-wrapper {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: none; background:transparent;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom: 80px;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background: #fcce01;}

.bx-wrapper .bx-controls-direction a{margin-top: -34px; width: 35px; height: 68px;}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus,
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-prev {
    transition: 0.2s;
    left: -100px;
    background: url(../img/left_btn.png) no-repeat;
}
.bx-wrapper .bx-next {
    transition: 0.2s;
    right: -100px;
    background: url(../img/right_btn.png) no-repeat;
}


/* dynamic-area */
.dynamic-area{padding: 6rem 0; box-sizing: border-box; }
.dynamic-area h2{text-align: center; margin-bottom: 4rem; line-height: 1;}
.dynamic-area h3{text-align: center; font-size: 5rem; color: #fff; margin-bottom: 2.2rem; line-height: 1;}
.dynamic-area h4{text-align: center; font-size: 2.5rem; color: #555; font-weight: 600; line-height: 1;}


/* dynamic-banner */
.dynamic-banner{margin-top: 4.4rem;}
.dynamic-banner ul{display: flex; justify-content: space-between;}
.movie-area{}
.movie-area .inner{display: flex; justify-content: space-between;}
.movie-phone{width: 50%; height: 70rem; background: url(../img/main_mobile.png) no-repeat center bottom; position: relative;}
.movie-phone video{width: 40.7rem; height: 40.7rem; position: absolute; top: 235px; left: 50%; transform: translateX(-50%);}
.movie-text{flex-basis: 50%; padding-top: 13rem;}
.movie-text h3{color: #fff; font-size: 4.8rem; font-weight: bold; letter-spacing: -2px;}
.movie-text h3 span{color: #ffe7bd; font-weight: normal;}
.movie-text p{font-size: 2.5rem; color: #ffe7bd; margin-bottom: 3.4rem;}


/* muser_area */
.muser_area h2{font-size: 52px; line-height: 1; letter-spacing: -0.52px; text-align: center; color: #1e1e1e; font-weight: 100;}
.muser_area h3{font-size: 52px; line-height: 1.8; letter-spacing: -0.52px; text-align: center; color: #1e1e1e; font-weight: bold;}
ul.user-text{display: flex; justify-content: space-between;}
ul.user-text li{padding: 0 2rem; font-size: 1.8rem; color: #777;}
ul.user-text li span{display: block; color: #1e1e1e; margin-top: 2.6rem; }

/* etc_box_area */
.etc_box_area{}
.etc_box_area ul{display: flex; border-left: 1px solid #2e2e2e;}
.etc_box_area ul li{flex-basis: 20%; border-right: 1px solid #2e2e2e; height: 16.3rem; text-align: center; padding-top: 10rem; box-sizing: border-box;}
.etc_box_area ul li:nth-child(1){background: url(../img/MA_manual.png) no-repeat center 5rem;}
.etc_box_area ul li:nth-child(2){background: url(../img/MA_introduction.png) no-repeat center 5rem;}
.etc_box_area ul li:nth-child(3){background: url(../img/MA_license.png) no-repeat center 5rem;}
.etc_box_area ul li:nth-child(4){background: url(../img/MA_qna.png) no-repeat center 5rem;}
.etc_box_area ul li:nth-child(5){background: url(../img/MA_news.png) no-repeat center 5rem;}
.etc_box_area ul li a{color: #f6f6f6;}

/* footer-area */
.footer-inner{display: flex; justify-content: space-between;}
.footer-inner>ul{display: flex; flex-basis: 75%;}
.footer-inner>ul>li{flex-basis: 33.3%; margin-right: 4rem;}
.footer-inner>ul>li>.tit{font-size: 1.4rem; margin-bottom: 2.5rem; font-weight: bold;}
.footer-inner>ul>li>.txt{font-size: 1.2rem; color: #666; font-weight: bold;}

.sns-wrap{flex-basis: 25%;}
.sns-wrap ul{display: flex; justify-content: space-between;}
.sns-wrap ul li{}
.sns-wrap ul a{}

.copy{font-size: 1.4rem; color: #666; padding-top: 3rem;}

















/* mobile */
.mobile{display: none;}
.mobile>ul{display: flex; justify-content: space-around; align-items: center; height: 6rem; }

.mobile>ul>li:first-child{width: 2.6rem; height: 1.6rem;}
.mobile>ul>li:first-child .mobile-nav{position: absolute; top: 60px; left: 0; width: 100%; background: rgba(0, 0, 0, 0.8); z-index: 9999; display: none;}
.mobile>ul>li:first-child .mobile-nav>li{width: 100%; height: 7rem; border-bottom: 1px solid #ddd; line-height: 7rem; text-align: center;}
.mobile>ul>li:first-child .mobile-nav>li>a{color: #fff;}

.mobile>ul>li>a{display: block; width: 100%; height: 100%; position: relative;}
.mobile>ul>li>a>.bar{width: 100%; height: .2rem; background: #555; display: block; position: absolute; top: 0; left: 0; transition: 0.3s;}
.mobile>ul>li>a>.bar1{top: 0;}
.mobile>ul>li>a>.bar1.add-app-btn{top: 50%; margin-top: -1px; transform: rotate(45deg);}
.mobile>ul>li>a>.bar2{top: 50%;}
.mobile>ul>li>a>.bar2.add-app-btn{opacity: 0;}
.mobile>ul>li>a>.bar3{top: 100%;}
.mobile>ul>li>a>.bar3.add-app-btn{top: 50%; margin-top: -1px; transform: rotate(-45deg);}

@media screen and (max-width: 1390px) {
    .bx-wrapper .bx-prev {left: 30px;}
    .bx-wrapper .bx-next {right: 30px;}
}

@media screen and (max-width: 1320px) {
    .banner-left-btn{left: 30px; z-index: 999;}
    .banner-right-btn{right: 30px; z-index: 999;}
}

@media screen and (max-width: 1200px) {
    .inner{width: 100%; padding: 0 2rem; box-sizing: border-box;}
    #bxBanner{height: auto;}
    .banner-title .inner{padding: 2rem;}
    .b-title-left p.text-bold{font-size: 5.5rem;}
    .template-line-wrap{display: none;}
    .banner-area{width: 100%; overflow: hidden;}
    /* .banner-area>ul>li{width: 20rem;} */

    #movie{height: auto;}
    .movie-area .inner{flex-direction: column; align-items: center;}
    .movie-area .inner .movie-phone{width: 100%; border-bottom: 10px solid #fff;}

    ul.user-text{flex-wrap: wrap;}
    ul.user-text li{width: 30%; box-sizing: border-box; margin-bottom: 2rem;}

    .Reference_area img{width: 100%;}
}

@media screen and (max-width: 1050px) {
    .gnb>.sns{display: none;}
    .b-title-left h2{font-size: 2.8rem;}
    .b-title-left p.text-bold{font-size: 4.8rem;}

    .dynamic-banner{margin-top: 4.4rem;}
    .dynamic-banner ul{display: flex; justify-content: space-between;}
    .dynamic-banner ul li{width: 23%;}
    .dynamic-banner ul li img{width: 100%}

    ul.user-text li{width: 50%;}
}

@media screen and (max-width: 920px) {
    .gnb{position: absolute; right: 3.2rem; top: 0.8rem;}
    .nav ul{position: relative; top: 1rem;}
    .banner-title .inner{flex-wrap: wrap;}
    .b-title-left{flex: 0 1 100%; height: auto; border-right: none; padding: 0 2rem 3rem 2rem; text-align: center;}
    .b-title-right{flex: 0 1 100%; height: 20rem; background: skyblue;}

    #bannerMain{height: 50rem;}
    .banner-main-area{background-size: 80%;}

    .template-area h2{font-size: 3rem;}

    .text-box-area h2{font-size: 3rem;}
    .text-box-area p{font-size: 1.6rem;}

    .dynamic-banner ul{flex-wrap: wrap; align-items: center; justify-content: center;}
    .dynamic-banner ul li{width: 49%;}
    .dynamic-banner h3{font-size: 2.8rem;}
    .dynamic-banner h4{font-size: 2.4rem;}

    ul.user-text li{width: 100%; border-bottom: 1px solid #ddd;}
    ul.user-text li:last-child{border: none;}
    ul.user-text li span{margin: 0.5rem 0;}

    .Reference_area{display: none;}

    .footer-inner{flex-direction: column;}
    .footer-inner>ul>li{padding-bottom: 2rem;}
    .sns-wrap ul{justify-content: start;}
    .sns-wrap ul li{margin-right: 2rem;}
}

@media screen and (max-width: 720px) {
    #header{height: 6rem; background: #f6e3b6;}
    .desktop{display: none;}
    .mobile{display: block;}
    #bannerMain{height: 40rem;}
    .banner-main-area{background-size: 90%;}

    .dynamic-banner h3{font-size: 2.4rem;}
    .dynamic-banner h4{font-size: 1.8rem;}
    
    .dynamic-banner ul{flex-direction: column; flex-wrap: nowrap; align-items: center;}
    .dynamic-banner ul li{width: 50%; margin-bottom: 1rem;}

    .movie-text h3{font-size: 4rem; margin-bottom: 1.2rem;}
    .movie-text p{font-size: 1.8rem;}

    .muser_area h2{font-size: 4.2rem;}
    .muser_area h3{font-size: 3.8rem;}


    .footer-inner>ul{flex-direction: column;}
    .footer-inner>ul>li{margin-bottom: 2rem; border-bottom: 1px solid #ddd;}
}