@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Nanum Gothic", sans-serif;
}

h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 800;
}

h3 {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #474747;
}

.nav-checkbox {
  display: none;
}
.nav-button {
  background: #b9b9b9;
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 8rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.nav-bg {
  background-image: radial-gradient(#b9b9b9, #474747);
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 8rem;
  z-index: 1000;
  border-radius: 2px;
  transition: 0.8s;
}
.nav-checkbox:checked ~ .nav-bg {
  transform: scale(80);
}
.nav-icon {
  position: relative;
  margin-top: 3rem;
}
.nav-icon::before {
  top: -0.8rem;
}
.nav-icon::after {
  top: 0.8rem;
}
.nav-icon::before, .nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 0.2s;
}
.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background: #333;
  display: inline-block;
}
.nav-button:hover .nav-icon::after {
  top: 1rem;
}
.nav-button:hover .nav-icon::before {
  top: -1rem;
}
.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}
.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  transition: 0.8s;
}
.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff);
  background-size: 220%;
}
.nav-link:hover {
  color: #285a91;
  background-position: 100%;
  transform: translateX(1rem);
}
.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, #b9b9b9 0%, #474747 100%), url(../images/header-image.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
}
header #logo-text {
  position: absolute;
  top: 4rem;
  left: 7rem;
  font-size: 5.6rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "lato", sans-serif;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
header #header-text {
  position: absolute;
  left: 7rem;
  bottom: 23%;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.1rem;
}
header #header-text-main {
  font-size: 7.2rem;
  line-height: 7.2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
header #header-text-sub {
  font-size: 2.4rem;
  margin-top: 3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

main::after {
  content: "";
  display: block;
  clear: both;
}
main #section-about {
  background-color: #ededed;
  padding: 7rem 0 6.5rem 6rem;
  width: 66.66666%;
  min-height: 42rem;
  float: left;
}
main #section-about::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  main #section-about {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-about {
    width: 100%;
    height: 54rem;
    padding: 7rem 6rem 6.5rem 6rem;
  }
}
@media screen and (max-width: 700px) {
  main #section-about {
    width: 100%;
    height: 60rem;
    padding: 7rem 6rem 6.5rem 6rem;
  }
}
main #section-about-words {
  width: 65%;
  float: left;
  padding: 2rem 2rem 0 0;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-about-words {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main #section-about-words {
    width: 100%;
  }
}
main #section-about-words p {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
  padding: 1.5rem 0;
}
main #section-about-words .btn-text {
  font-size: 1.6rem;
  color: #285a91;
  font-weight: bold;
  padding: 3px 3px;
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}
main #section-about-words .btn-text:hover {
  color: #fff;
  background: #1f9cfd;
}
main #section-about-words .btn-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3%;
  width: 95%;
  height: 1px;
  background: #285a91;
}
main #section-about-photo {
  width: 35%;
  float: left;
  position: relative;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-about-photo {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main #section-about-photo {
    width: 100%;
  }
}
main #section-about-photo .photo {
  position: absolute;
  width: 18rem;
  height: 12rem;
  transition: 0.5s;
}
main #section-about-photo .photo img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-about-photo .photo {
    top: 3rem !important;
    left: 50% !important;
  }
}
@media screen and (max-width: 700px) {
  main #section-about-photo .photo {
    top: 3rem !important;
    left: 50% !important;
  }
}
main #section-about-photo .photo:hover {
  transform: scale(1.1);
  padding: 1rem;
  border: 3px solid #285a91;
  z-index: 10;
}
main #section-about-photo .photo:nth-child(1) {
  left: 1rem;
  top: 3rem;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-about-photo .photo:nth-child(1) {
    transform: translateX(-120%);
  }
}
@media screen and (max-width: 700px) {
  main #section-about-photo .photo:nth-child(1) {
    transform: translateX(-120%);
  }
}
main #section-about-photo .photo:nth-child(2) {
  left: 6rem;
  top: 10rem;
}
main #section-etc {
  width: 33.33333%;
  float: left;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  main #section-etc {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-etc {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main #section-etc {
    width: 100%;
  }
}
main #section-etc [id^=etc-] {
  height: 14rem;
}
main #section-etc .etc::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  main #section-etc .etc {
    width: 33.3333%;
    height: 18rem;
    float: left;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main #section-etc .etc {
    width: 33.3333%;
    height: 22rem;
    float: left;
  }
}
main #section-etc .etc:nth-child(1) {
  background: #a8d8ff;
}
main #section-etc .etc:nth-child(2) {
  background: #c1e1ff;
}
main #section-etc .etc:nth-child(3) {
  background: #d6eaff;
}
main #section-etc .etc .etc-icon {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 3.5rem;
}
main #section-etc .etc .etc-icon .material-symbols-outlined {
  font-size: 6rem;
}
main #section-etc .etc .etc-text {
  float: left;
  width: 70%;
  padding-top: 1rem;
}
main #section-etc .etc .etc-text p {
  margin: 0.5rem 0;
  padding-right: 3.5rem;
  text-align: left;
  font-size: 1.4rem;
}

footer {
  color: #b9b9b9;
  background: #3f4a56;
  padding: 9rem 7rem 3rem 7rem;
}
@media screen and (max-width: 700px) {
  footer {
    padding: 9rem 2rem 3rem 7rem;
  }
}
footer::after {
  content: "";
  display: block;
  clear: both;
}
footer #logo-text-footer {
  width: 25%;
  float: left;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 700px) {
  footer #logo-text-footer {
    width: 20%;
    margin-right: 6rem;
  }
}
footer #copyright {
  width: 75%;
  float: left;
  font-size: 1.2rem;
}
@media screen and (max-width: 700px) {
  footer #copyright {
    width: 60%;
  }
}
footer #copyright p:nth-child(1) {
  margin-bottom: 2rem;
  text-align: justify;
  word-break: break-all;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  -moz-column-rule: 1px dashed #888;
       column-rule: 1px dashed #888;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0.1;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}/*# sourceMappingURL=style.css.map */