@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nanum+Gothic:wght@400;700;800&display=swap");

$color-primary: #285a91;
$color-secondary: #1f9cfd;
$color-white: #fff;
$color-blue-1: #a8d8ff;
$color-blue-2: #c1e1ff;
$color-blue-3: #d6eaff;
$color-blue-dark: #3f4a56;
$color-gray-light: #b9b9b9;
$color-gray-dark: #474747;

@mixin clearfix(){
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}

@mixin mq($screen-width){
    @if $screen-width == 'small-screen-1'{
        @media screen and (min-width: 900px) and (max-width: 1200px) {
            @content;
        }
    }
    @else if $screen-width == 'small-screen-2'{
        @media screen and (min-width: 701px) and (max-width: 899px) {
            @content;
        }
    }
    @else if $screen-width == 'small-screen-3'{
        @media screen and (max-width: 700px) {
            @content;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    padding: 3rem;
    font-family: "Nanum Gothic", sans-serif;
}
h2{font-size: 2.4rem; text-transform: uppercase; padding: 1rem 0; font-weight: 800;}
h3{padding: 0.5rem 0 ; font-size: 1.6rem; font-weight: 700; text-transform: uppercase; color: $color-gray-dark;}

.nav {
    &-checkbox {
        display: none;
    }
    &-button {
        background: $color-gray-light;
        width: 7rem;
        height: 6rem;
        position: fixed;
        top: 7rem;
        right: 8rem;
        z-index: 2000;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 1rem 1rem rgba(#000, 0.1);
        text-align: center;
    }
    &-bg {
        background-image: radial-gradient($color-gray-light, $color-gray-dark);
        width: 7rem;
        height: 6rem;
        position: fixed;
        top: 7rem;
        right: 8rem;
        z-index: 1000;
        border-radius: 2px;
        transition: 0.8s;
    }
    &-checkbox:checked ~ &-bg {
        transform: scale(80);
    }
    &-icon{
        position: relative;
        margin-top: 3rem;
        &::before{
            top: -0.8rem;
        }
        &::after{
            top: 0.8rem;
        }
        &::before, &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: 0.2s;
        }
        &, &::before, &::after{
            width: 3rem;
            height: 2px;
            background: #333;
            display: inline-block;
        }
    }
    &-button:hover &-icon::after{top: 1rem;}
    &-button:hover &-icon::before{top: -1rem;}

    &-checkbox:checked ~ &-button &-icon::before{top: 0; transform: rotate(135deg);}
    &-checkbox:checked ~ &-button &-icon{background-color: transparent;}
    &-checkbox:checked ~ &-button &-icon::after{top: 0; transform: rotate(-135deg);}

    &-body{position: fixed; top: 0; left: -120%; width: 100vw; height: 100vh;z-index: 1500; opacity: 0; transition: 0.8s;}

    &-list{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); list-style: none; width: 100%; text-align: center;}

    &-link{display: inline-block; font-size: 3rem; font-weight: 300; padding: 1rem 2rem; color: $color-white; text-transform: uppercase; text-decoration: none; transition: 0.4s; background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white); background-size: 220%; 
        &:hover{color: $color-primary; background-position: 100%; transform: translateX(1rem);}
        span{display: inline-block; margin-right: 1.5rem}
    }
    &-checkbox:checked ~ &-body{opacity: 1; left: 0;}
}
header{
    width: 100%; height: 90vh; background-image: linear-gradient(to right, $color-gray-light 0%, $color-gray-dark 100%), url(../images/header-image.jpg); background-blend-mode: multiply; background-size: cover; position: relative;

    #logo-text{position: absolute; top: 4rem; left: 7rem; font-size: 5.6rem; text-transform: uppercase; color: $color-white; font-family: 'lato', sans-serif; animation-name: moveInLeft; animation-duration: 1s;}
    #header-text{position: absolute; left: 7rem; bottom: 23%; color: $color-white; font-weight: bold; letter-spacing: -0.1rem;
    &-main{font-size: 7.2rem; line-height: 7.2rem; animation-name: moveInRight; animation-duration: 1s; animation-fill-mode: backwards; animation-delay: 1s;}
    &-sub{font-size: 2.4rem; margin-top: 3rem; animation-name: moveInLeft; animation-duration: 1s; animation-delay: 2s; animation-fill-mode: backwards;}
    }
}
main{
    @include clearfix();
    #section-about{
        background-color: #ededed;
        padding: 7rem 0 6.5rem 6rem;
        width: 66.66666%;
        min-height: 42rem;
        float: left;
        @include clearfix();
        @include mq(small-screen-1){
            width: 100%;
        }
        @include mq(small-screen-2){
            width: 100%;
            height: 54rem;
            padding: 7rem 6rem 6.5rem 6rem;
        }
        @include mq(small-screen-3){
            width: 100%;
            height: 60rem;
            padding: 7rem 6rem 6.5rem 6rem;
        }
        &-words{width: 65%; float: left; padding: 2rem 2rem 0 0;
            @include mq(small-screen-2){
                width: 100%;
            }
            @include mq(small-screen-3){
                width: 100%;
            }
            p{font-size: 1.4rem; font-weight: bold; text-align: justify; padding: 1.5rem 0;}
            .btn-text{font-size: 1.6rem; color: $color-primary; font-weight: bold; padding: 3px 3px; margin-right: 5px; display: inline-block; text-decoration: none; position: relative; transition: 0.5s;
                &:hover{color: $color-white; background: $color-secondary;}
                &::after{content: ""; position: absolute; bottom: 0; left: 3%; width: 95%; height: 1px; background: $color-primary;}
        }
            
        }
        &-photo{width: 35%; float: left; position: relative;
            @include mq(small-screen-2){
                width: 100%;
            }
            @include mq(small-screen-3){
                width: 100%;
            }
            .photo{position: absolute; width: 18rem; height: 12rem; transition: 0.5s;
                img{width: 100%; height: 100%; box-shadow: 3px 3px 9px 0px rgba($color: #000000, $alpha: 0.5);}
                @include mq(small-screen-2){
                    top: 3rem !important;
                    left: 50% !important; 
                }
                @include mq(small-screen-3){
                    top: 3rem !important;
                    left: 50% !important; 
                }
                &:hover{transform: scale(1.1); padding: 1rem; border: 3px solid $color-primary; z-index: 10;}
                &:nth-child(1){left: 1rem; top: 3rem;
                    @include mq(small-screen-2){
                        transform: translateX(-120%);
                    }
                    @include mq(small-screen-3){
                        transform: translateX(-120%);
                    }
                }
                &:nth-child(2){left: 6rem; top: 10rem;}
            }
                
        }
        
    }
    #section-etc{
        width: 33.33333%;
        float: left;
        @include mq(small-screen-1){
            width: 100%;
        }
        @include mq(small-screen-2){
            width: 100%;
        }
        @include mq(small-screen-3){
            width: 100%; 
        }
        [id^="etc-"]{height: 14rem;}
        .etc{
            @include clearfix();
            @include mq(small-screen-1){
                width: 33.3333%; 
                height: 18rem;
                float: left;
            }
            @include mq(small-screen-2){
                width: 33.3333%; 
                height: 22rem;
                float: left;
            }
            &:nth-child(1){background: $color-blue-1;}
            &:nth-child(2){background: $color-blue-2;}
            &:nth-child(3){background: $color-blue-3;}
            .etc-icon{float: left; width: 30%; text-align: center; padding-top: 3.5rem;
                .material-symbols-outlined{font-size: 6rem;}
        }
            .etc-text{float: left; width: 70%; padding-top: 1rem; 
                p{margin: 0.5rem 0; padding-right: 3.5rem; text-align: left; font-size: 1.4rem;}
            }
        }
    }
    
}
footer{
    color: $color-gray-light; background: $color-blue-dark; padding: 9rem 7rem 3rem 7rem;
    @include mq(small-screen-3){
        padding: 9rem 2rem 3rem 7rem;
    }
    @include clearfix();
    #logo-text-footer{width: 25%; float: left; font-size: 4rem; text-transform: uppercase; font-weight: 100; font-family: 'Lato', sans-serif;
        @include mq(small-screen-3){
            width: 20%;
            margin-right: 6rem;
        }
    }
    #copyright{width: 75%; float: left; font-size: 1.2rem;
        @include mq(small-screen-3){
            width: 60%;
        }
        p:nth-child(1){margin-bottom: 2rem; text-align: justify; word-break: break-all; column-count: 3; column-gap: 3rem; column-rule: 1px dashed #888;}
    }
}



@keyframes moveInLeft {
    0%{opacity: 0.1; transform: translateX(-8rem);}
    80%{transform: translateX(1rem);}
    100%{opacity: 1; transform: translateX(0rem);}
}
@keyframes moveInRight {
    0%{opacity: 0.1; transform: translateX(10rem);}
    80%{transform: translateX(-1rem);}
    100%{opacity: 1; transform: translateX(0rem);}
}