body{padding: 50px; border-color: aliceblue;}
#wrap{width: 1000px; margin:  0 auto;}
.box{background: #fff; margin-bottom: 10px; padding: 20px; box-sizing: border-box;}

.container div{text-align: center; font-size: 2em; color: #fff;}
.container div:nth-child(1){background: gold;}
.container div:nth-child(2){background: rgb(115, 255, 0);}
.container div:nth-child(3){background: rgb(0, 255, 200);}
.container div:nth-child(4){background: rgb(0, 60, 255);}
.container div:nth-child(5){background: rgb(174, 0, 255);}
.container div:nth-child(6){background: rgb(255, 0, 64);}

@media screen and (max-width: 1200px) {
    #wrap{width: 100%;}
    .box{width: 100%;}
    .container{width: 100%;}
}


.container1{
    display: grid; 
    grid-template-columns: 100px auto; 
    grid-template-rows: 100px 100px 400px; 
    gap: 5px;}

.container2{
    display: grid; 
    grid-template-columns: 5% 90% 5%; 
    gap: 5px;}

.container3{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 60px;
    gap: 5px;}

.container4{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 5px;}
    
.container5{
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 50px);    
    gap: 5px;
}

.container6{
    height: 600px;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
}
.container6 div{display: flex; align-items: center; justify-content: center;}
.container6>.header{/* grid-column-start: 1; grid-column-end: 13; */ grid-column: 2/-1;}
.container6>.menu{/* grid-column-start: 1; grid-column-end: 5; */ grid-column: 1/2; grid-row: 1/3;}
.container6>.content{/* grid-column-start: 5; grid-column-end: 13; */ grid-column: 2/span 7;}
.container6>.content1{grid-column: 9/-1;}
.container6>.footer{/* grid-column-start: 1; grid-column-end: 13;  */grid-column: 1/-1;}

.container7{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    /* .: 빈값 */
    ". h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "m m f f f f f f f f f f";
}
.container7 .header{grid-area: h;}
.container7 .menu{grid-area: m;}
.container7 .content{grid-area: c;}
.container7 .footer{grid-area: f;}
.container7 div{display: flex; align-items: center; justify-content: center;}

.container8{display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-template-rows: 100px 100px; gap: 5px;}
.container9{display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); grid-template-rows: 100px 100px; gap: 5px;}