.tab-wrapper{width: 800px; margin: 50px auto;}
.tab-menu{padding-left: 0; display: flex; margin: 0;}
.tab-menu li{list-style: none; width: 20%; margin-right: 2px; text-align: center;}
.tab-menu li a{color: #fff; background: #5e8196; display: block; padding: 10px 0; text-decoration: none; width: 100%;}
.tab-menu li a.active{background: #02121b; font-weight: bold;}

#tabContent{border: 1px solid #000; padding: 20px; box-sizing: border-box; height: 160px;}
#tabContent div{display: none;}
#tabContent div:first-child{display: block;}
#tabContent div h2{margin: 0;}