body{background: url(../images2/grid_back_02.gif);}
#wrap{width: 770px; height: 560px;  margin: 140px;}
.menu{width: 140px; height: 210px;  float: left;}
.box1_3{width: 70px; height: 210px;  float: left;}
.box3_3{width: 210px; height: 210px;  float: left;}

.box1_1{width: 70px; height: 70px; }
.box3_2{width: 210px; height: 140px;}
.box3_1{width: 210px; height: 70px;}

.box11_1{width: 770px; height: 70px; clear: both;}


.color1{background: #ff9;}
.color2{background: #fc0;}
.color3{background: #f90;}

.fl{float: left;}

li{line-height: 0;}