*{margin: 0; padding: 0;}
body{text-align: center; font-size: 30px; text-transform: uppercase; color: white;}

    @media screen and (min-width: 801px) {
        #wrap{width: 1000px; height: 100%; background: black; margin: 20px auto;}
        header{width: 100%; height: 100px; background: green;}
        section{width: 100%; height: 900px; background: greenyellow;}
        aside{width: 300px; height: 100%; float: left;}
        #contents1{width: 700px; height: 300px; background: rgb(124, 218, 0); float: right;}
        #contents2{width: 700px; height: 300px; background: rgb(33, 0, 218); float: right;}
        #contents3{width: 700px; height: 300px; background: rgb(218, 0, 127); float: right;}
        #contents4{display: none;}
        footer{width: 100%; height: 100px; background: rgb(109, 192, 0);}
    }

/* width: 800 */
    @media screen and (min-width: 501px) and (max-width: 800px) {
        #wrap{width: 800px; height: 100%; background: black; margin: 20px auto;}
        header{width: 100%; height: 100px; background: green;}
        section{width: 100%; height: 1200px; background: greenyellow;}
        aside{width: 300px; height: 900px; float: left;}
        #contents1{width: 500px; height: 450px; background: rgb(124, 218, 0); float: right;}
        #contents2{width: 500px; height: 450px; background: rgb(33, 0, 218); float: right;}
        #contents3{width: 800px; height: 300px; background: rgb(218, 0, 127); float: left;}
        #contents4{display: none;}
        footer{width: 100%; height: 100px; background: rgb(109, 192, 0);}
    }

/* width: 500 */
    @media screen and (min-width: 1px) and (max-width: 500px) {
        #wrap{width: 500px; height: 100%; background: black; margin: 20px auto;}
        header{width: 100%; height: 100px; background: green;}
        section{width: 100%; height: 850px; background: greenyellow;}
        aside{display: none;}
        #contents1{width: 500px; height: 250px; background: rgb(124, 218, 0); float: left;}
        #contents2{width: 250px; height: 350px; background: rgb(33, 0, 218); float: left;}
        #contents3{width: 250px; height: 350px; background: rgb(218, 0, 127); float: left;}
        #contents4{width: 500px; height: 250px; background: rgb(203, 218, 0); float: left;}
        footer{width: 100%; height: 100px; background: rgb(109, 192, 0);}
}