<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="./css/style3.css">
</head>
<body>
    <div id="wrap">
        <header></header>
        <main>
            <div id="main_banner"></div>
            <section>
                <aside class="fl"></aside>
                <article class="ar1 fl seven"></article>
                <article class="ar2 fl seven"></article>
                <article class="ar3 fl three"></article>
                <article class="ar4 fl three"></article>
                <article class="ar5 fl three"></article>
            </section>
            <div id="main_bottom" class="fl">
                <div id="mar_wrap">
                    <article class="mar fl"></article>
                    <article class="mar fl"></article>
                    <article class="mar fl"></article>
                    <article class="mar fl"></article>
                </div>
            </div>
        </main>
        <footer class="fl"></footer>
    </div>
</body>
</html>