<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout2</title>
    <link rel="stylesheet" href="./css/style1.css">
</head>
<body>
    <div id="wrap">
        <header>header</header>
        <section>
            <aside>aside</aside>
            <div class="contents1">contents1</div>
            <div class="contents2">contents2</div>
            <div class="contents3">contents3</div>
            <div class="contents4">contents4</div>
        </section>
        <footer>footer</footer>
    </div>
</body>
</html>