<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="./css/style2.css">
</head>
<body>
    <div id="wrap">
        <header></header>
       <section>
            <aside></aside>           
            <article class="at1"></article>
            <article class="at2"></article>
            <article class="at3"></article>
       </section>
        <footer></footer>
    </div>
</body>
</html>