body{width: 100%;}
.container{width:1440px; margin: 0 auto; height: inherit; /* background: rgba(0,0,0,.5); */ }

img{width: 180px;}

/* 레이아웃 */
#wrap{width: 100%}
#header{width: 100%; height: 94px; background: #fff; box-shadow: 0 2px 3px #ccc; position: relative; top: 0; left: 0;}

#nav{width: 100%;}
#nav>h1{width: 180px; height: 94px; float: left;}

#nav>ul{float: right;}
#nav>ul>li{float: left;}
#nav>ul>li>a{display: block; font-size: 1.8em; font-weight: bold; padding: 29px 50px;}
#nav>ul>li:not(:first-child):after{content: ""; border: 1px solid #ddd; height: 20px; position: absolute; top: 35px;}

#nav>ul>li>.width100{position: absolute; width: 100%; height: auto; background: #ccc; top: 94px; left: 0; display: none;}
#nav>ul>li:hover>.width100{display: block;}
#nav>ul>li>.width100>ul{position: relative; top: 0; left: 50px;}
#nav>ul>li>.width100>ul>li{display: block; float: left; width: 246px; padding: 0 20px; margin: 20px 0; border-right:1px solid #8d8d8d; }
#nav>ul>li>.width100>ul>li:first-child{text-align: center;}
#nav>ul>li:first-child>.width100>ul>li{height: 320px;}
#nav>ul>li:nth-child(2)>.width100>ul>li{height: 300px;}
#nav>ul>li:nth-child(5)>.width100>ul>li{height: 240px;}

#nav>ul>li>.width100>ul>li>h2{text-align: center; font-size: 1.8em; color: #e95a65; font-weight: bold; margin-bottom: 10px;}
#nav>ul>li>.width100>ul>li>h3>a{font-size: 1.5em; font-weight: bold; display: block; color: #097a84;}
#nav>ul>li>.width100>ul>li>dl>dt{font-size: 1.2em; font-weight: bold; color: #333; line-height: 1.8;}
