.container{width:1440px; margin: 0 auto; height: inherit; /* background: rgba(0,0,0,.5); */ }

img{width: 180px;}

/* 레이아웃 */
#wrap{width: 100%}
#header{width: 100%; height: 94px; background: #fff; box-shadow: 0 2px 3px #ccc; position: relative; top: 0; left: 0;}
#main{width: 100%; height: 700px; background: yellow;}
#footer{width: 100%; height: 200px; background: #222;}

/* header */

.nav h1{float: left;}
.nav > ul{float: right; }
.nav > ul > li{float: left;}
.nav > ul > li > a{font-size: 24px; font-weight: bold; display: block; padding: 29px 50px; position: relative;}
.nav > ul > li:not(:last-child) > a:after{
    content: "";
    position: absolute;
    top: 38px;
    right: 0;
    width:1px;
    height: 20px;
    background: #b2b2b2;
}

.nav > ul > li > .width100{position: absolute; top: 94px; left: 0; width: 100%; height: auto; background: #ddd; display: none; padding: 20px 0}
.nav > ul > li:hover > .width100{ display: block;}
.nav > ul > li > .width100 > ul{width: 1440px; margin: 0 auto;}
.nav > ul > li > .width100 > ul > li{float: left; width: 288px; box-sizing: border-box; padding: 0 20px;}
.nav > ul > li > .width100 > ul > li:not(:last-child){border-right: 1px solid #acacac; }
.nav > ul > li:nth-child(1) > .width100 > ul > li{height: 320px;}
.nav > ul > li:nth-child(2) > .width100 > ul > li{height: 300px;}
.nav > ul > li:nth-child(5) > .width100 > ul > li{height: 180px;}
.nav > ul > li > .width100 > ul > li > h2{text-align: center; font-size: 1.8em; color: #e95a65; font-weight: bold;}
.nav > ul > li > .width100 > ul > li:first-child{text-align: center;}
.nav > ul > li > .width100 > ul > li > h3 > a{font-size: 1.5em; font-weight: bold; display: block; padding-top: 5px; color:#097a84}

.nav > ul > li > .width100 > ul > li > dl{}
.nav > ul > li > .width100 > ul > li > dl > dt > a{font-size: 1.2em; font-weight: bold; color: #333; line-height: 180%;}
.nav > ul > li > .width100 > ul > li > dl > dd > a{color: #888; font-weight: bold; line-height: 200%; margin-bottom: 3px;}
/* 내용없는 dd 숨기기 */
.nav > ul > li > .width100 > ul > li > dl > .display{display: none;}