*{margin: 0; padding: 0;}
body{font-family: Arial, Helvetica, sans-serif;}
main #loginForm{width: 463px; height: 360px; margin: 47px auto 0 auto;}
main #loginForm h1{width: 460px; height: 94px; margin: 0 auto;}
main #loginForm h1 a{width: 195px; height: 46px; display: block; margin: 0 auto;}
main #loginForm h1 a img{width: 195px; height: 46px;}
main #loginForm fieldset{border: 0 none;}
main #loginForm fieldset #login{float: left;}
main #loginForm fieldset #login p{width: 465px; height: 48px; border: 1px solid #ccc;}
main #loginForm fieldset #login p label{display: inline-block; width: 45px; height: 48px; border-right: 1px solid #ccc;}
main #loginForm fieldset #login p .labelStyle img{width: 20px; height: 16px;}
main #loginForm fieldset #login p input{width: 413px; height: 48px; border: 0 none;}
main #loginForm fieldset #login p #userId{}
main #loginForm fieldset #login p #userPWD{}
main #loginForm fieldset #btn1{clear: both; padding-top: 10px;}
main #loginForm fieldset #btn1 #saveLogin{}
main #loginForm fieldset #btn1 a{float: right;}
main #loginForm fieldset #btn2 #btnLogin{width: 450px; height: 52px; margin: 10px 0 18px 0; background: #0074e9; color: white; font-weight: bold;}
main #loginForm fieldset #btn3 #btnJoin{width: 450px; height: 52px; padding: 18px 0 20px 0; background: white; color: #0074e9; font-weight: bold;}
footer p{width: 460px; height: 20px; margin: 20px auto; text-align: center;}