#wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    width: 100%;
    height: 900px;
}

.section1 {
    background: #235e80;
}

.section2 {
    background: #f5d6c2;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.section2 .left {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: -50%;
    top: 0;
    background: linear-gradient(45deg, #b03069, #fdc830);
}

.section2 .right {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    right: -50%;
    top: 0;
    background: linear-gradient(45deg, #1a936f, #4b77be);
}

.section3 {
    background: #c5f7f2;
    display: flex;
    position: relative;
    overflow: hidden;
}

.section3 .left {
    width: 50%;
    height: 100%;
    background-color: #7b98ad;
    display: none;
}

.section3 .left .leftbox {
}

.section3 .right {
    width: 50%;
    height: 100%;
    background-color: #c5f7f2;
    display: none;
}

.section3 .right .rightbox {
}

.section4 {
    background: #9a2f80;
    height: auto;
    padding: 60px 50px;
    box-sizing: border-box;
    position: relative;
}

.section4 .box {
    width: 100%;
    height: 500px;
    background: #ffac81;
    margin-bottom: 20px;
    position: relative;
    top: 300px;
    margin-top: 200px;
}

.section4 .box .imgbox {
    width: 530px;
    height: 400px;
    position: absolute;
    top: -30px;
    left: 20px;
    background-color: #f5d6c2;
}

.section4 .box .txtbox {
    position: absolute;
    top: 20px;
    right: 0;
    width: 700px;
}

.section5 {
    background: #9a2f2f;
}
